<div>
  <h2>MapGame</h2>
</div>
<div id="map_div"></div>


<script>
  function getMap() {
    var map = new Microsoft.Maps.Map(document.getElementById("map_div"), {
      credentials:"AlC9CGbZ8LHeSgdDZKuTJcKueNw6H-YgNcBLvFL5uzfittgGIKTucztKA8OI37Rc",
      center: new Microsoft.Maps.Location(<%= @loc[0] %>, <%= @loc[1] %>),
      disableBirdseye: true,
      zoom: 20
    });
    window.map = map;
  }
  $(function() {
    getMap();
  })
</script>

<script type="text/javascript">
  Game.user_id = '<%= session[:user_id] %>';

  $(function() {
    setTimeout(function() {
      Game.helpers.loadScene("game");
    }, 500);
  });
</script>
