<div>
  <h2>MapGame</h2>
</div>
<div id="map_div"></div>


<script>

  function getMap() {
    var map = new Microsoft.Maps.Map(document.getElementById("map_div"), {
      credentials:"AlC9CGbZ8LHeSgdDZKuTJcKueNw6H-YgNcBLvFL5uzfittgGIKTucztKA8OI37Rc",
      center: new Microsoft.Maps.Location(37.794254, -122.419453),
      disableBirdseye: true,
      zoom: 20
    });
    window.map = map;
  }

  $(function() {
    getMap();
  })


  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('657713b267a64758afbf');
  var channel = pusher.subscribe('mapgame_global');
  channel.bind('my_event', function(data) {
    alert(data);
  });

</script>


<script type="text/javascript">
  $(function() {
    setTimeout(function() {
      Game.helpers.loadScene("game");
    }, 500);
  });
</script>
