<header class="boundary" id="header">
  <div class="sprite logo"></div>
  <h1>San Francisco</h1>
  <div class="sprite keys"></div>
</header>

<div class="boundary" id="game_board">
  <div class="reticle"></div>
  <div id="messages">
    <p><b>PROTIPS</b><br />
      Follow the arrow to get to the waypoints!<br />
      Press "p" to go back to the center of the map<br />
      When new players join, use "p" to meet up at the center of the map<br />
      Use the space bar to blast and pwn your enemies!<br />
    </p>
  </div>
  <div id="cr-stage"></div>
  <div id="map_div">
    <div id="health"><div id="score">100%</div></div>
    <div id="flags"><div id="count">0</div></div>
    <div id="overlay"></div>
  </div>
</div>

<footer class="boundary" id="footer">
  &copy; <a target="_blank" href="http://www.bigbadgoose.com">2012 Big Bad Goose LLC</a> / Doug Lee / Linmiao Xu / Dean Mao
</footer>

<script>
  B.center.lat = <%= @loc[0] %>;
  B.center.long = <%= @loc[1] %>;
  Game.user_id = '<%= session[:user_id] %>';
</script>
