/* ----- DEFS ----- */

/* ---------------------------------------------- VARS */
$red: #f00;
$boundary: 960px;
$game_width: $boundary;
$game_height: 600px;

/* ---------------------------------------------- MIXINS */

@mixin radius($radius: 3px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin buttonize($color: #aa6) {
  -moz-box-shadow: 0 1px 0 1px $color;
  -webkit-box-shadow: 0 1px 0 1px $color;
  box-shadow: 0 1px 0 1px $color;
}

@mixin glow {
  -moz-box-shadow: 0 0 6px rgba(255,255,255,.8);
  -webkit-box-shadow: 0 0 6px rgba(255,255,255,.8);
  box-shadow: 0 0 6px rgba(255,255,255,.8);
}

@mixin noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
