<!DOCTYPE html>
<html>
  <head>
  <title></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
    <%= csrf_meta_tags %>
  </head>
<body>

  <div id="main">
    <%= yield %>
  </div>

</body>
</html>
