<!DOCTYPE html>
<html>
<head>
  <title>Mapgame</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
  <script>
  function GetMap() {
    var map = new Microsoft.Maps.Map(document.getElementById("mapDiv"), {
      credentials:"AlC9CGbZ8LHeSgdDZKuTJcKueNw6H-YgNcBLvFL5uzfittgGIKTucztKA8OI37Rc"
    });
  }
  </script>
</head>

<body onload="GetMap();">
<div id='mapDiv' style="position:absolute; width:100%; height:100%;"></div>

<%= yield %>

</body>
</html>
